<script src="adb-merken.js"></script>

<link rel="nativeads" href="nativeads.js.css">

<link rel="ftf-dma-note" href="ftf-dma-note.css">


<div align="center" style="background-color: orange; width: 800;" id="ftf-dma-note" class="d-none ftf-dma-note ad native-ad native-ad-1 ytd-j yxd-j yxd-jd aff-content-col aff-inner-col aff-item-list ark-ad-message inplayer-ad inplayer_banners in_stream_banner trafficjunky-float-right dbanner preroll-blocker happy-inside-player blocker-notice blocker-overlay exo-horizontal ave-pl bottom-hor-block brs-block advboxemb wgAdBlockMessage glx-watermark-container overlay-advertising-new header-menu-bottom-ads rkads mdp-deblocker-wrapper amp-ad-inner imggif bloc-pub bloc-pub2 hor_banner aan_fake aan_fake__video-units rps_player_ads fints-block__row full-ave-pl full-bns-block vertbars video-brs player-bns-block wps-player__happy-inside gallery-bns-bl stream-item-widget adsbyrunactive happy-under-player adde_modal_detector adde_modal-overlay ninja-recommend-block aoa_overlay message">
  <div class="ftf-dma-note-content-wrapper">
    <span class="ftf-dma-close-btn">&nbsp;</span>
    <div class="ftf-dma-note-header">
      <p><font color="#FF3300" size="5">
		<span style="background-color: #FFFFFF; font-weight:700">
		&#9940;</span></font><font face="Arial" size="4"> </font>
		<b>
		<font color="#FF3300" face="Arial" size="5">&nbsp;ACHTUNG! ES WURDE <u>KEIN</u> AD-BLOCKER ERKANNT!!! </font></b><font face="Arial" size="4">
		&nbsp;</font><font color="#FF3300" size="5"><span style="background-color: #FFFFFF; font-weight:700">&#9888;</span></font><font face="Arial" size="4"><br>&nbsp;<br>
		<font color="#000000">Diese Seite ist zwar sicher. Und Werbefrei. Es werden keine Daten gesammelt.</font></font>
		<font face="Arial" size="4" color="#000000"><br>
&nbsp;<br>
		Aber wie sieht es bei der nächsten Webseite aus, die Sie besuchen?<br>
&nbsp;<br>
		Sich im Internet ohne Ad-Blocker zu bewegen, ist wie Geschlechtsverkehr<br>
		mit einer Fremden Person ohne Verhütungsmittel!<br>
&nbsp;<br>
		Unter dem nachfolgenden Link finden Sie weitere Informationen hierzu.
		<br>Auch, wie Sie diese Nachricht in Ihre Seite einbauen können: </font>
		<a href="https://stefanbohacek.com/project/detect-missing-adblocker-wordpress-plugin/#resources">
		<font color="#000000"><i>
		<font face="Arial" size="4">Learn more</font></i></font></a></p>
		<p><font face="Arial" size="4" color="#000000">Stay cool! Stay safe! Use an ad-blocker! Use protection! 	Stay alive</font><font face="Arial" style="font-size: 20pt"><br>&nbsp;</font></p>
	</div>
  </div>
</div>
<br>&nbsp;<br>
